!!! 5
html
	head
		meta(charset='UTF-8')
		title= 'Pingdom Kiosk'
		link(rel='stylesheet', href='/style.css')
		link(href='/favicon.ico', rel='icon', type='image/x-icon')
		script(src='https://www.google.com/jsapi?key=ABQIAAAAwAhM9HEfk247K8mMaKxpoRRC4pUEJS99I9IAaMrp7TkkwefbUBTrOkrRjFhpazjswbKC_NWjUbSz8w', type='text/javascript')
		script(type='text/javascript').
			google.load("jquery", "1");
			google.load("jqueryui", "1");
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/js/runtime.min.js')
		script(type='text/javascript', src='/js/main.js')
		script(type='text/javascript', src='/js/browser.js')
		script(type='text/javascript').
			!{templates}
	body
		| Javascript Required!
